@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    @Html.ActionLink("Grocery List", "Index", "GroceryLists")<br />
    @Html.ActionLink("Users", "Index", "UserTables")<br />
    @Html.ActionLink("Pantry Locations", "Index", "Pantries")<br />
    @Html.ActionLink("Users", "Index", "UserTables")<br />
    @Html.ActionLink("Measurements", "Index", "Measurements")
</div>
